@import "../../assets/utilities/variables.scss";

.container {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  .range {
    width: 100px;
    height: 3px;
    background-color: $primary-color;
    -webkit-appearance: none;
    -moz-appearance: none;
    &::-webkit-slider-thumb {
      -webkit-appearance: none;
      width: 20px;
      height: 20px;
      border-radius: 50%;
      background-color: $secondary-color;
    }
    &::-moz-range-thumb {
      width: 20px;
      height: 20px;
      border-radius: 50%;
      background-color: $secondary-color;
    }
  }
  .range_value {
    display: inline-block;
    margin-left: 20px;
    width: 90px;
    background-color: $primary-color;
    text-align: center;
  }
}
.hidden {
  visibility: hidden;
}
input[type="range"]:disabled {
  background-color: #d5dbb3;
  &::-webkit-slider-thumb {
    background-color: #d5dbb3;
  }
  &::-moz-range-thumb {
    background-color: #d5dbb3;
  }
}
