@import "../../assets/utilities/variables.scss";
.container {
  width: 100%;
  height: 100vh;
  padding-top: 150px;
  background: url("../../assets/units_background_img.jpg");
  display: flex;
  color: $primary-color;
  display: flex;
  flex-direction: column;
  align-items: center;
}
